Repository VenusProtocol/oracle, pull requests merged in 2024-08, with the labels that each got.

#209 [VEN-2680]: deployment of oracle on Zksync sepolia
  .env.example
  .eslintignore
  .eslintrc
  .github/workflows/ci.yml
  .gitignore
  .npmignore
  .prettierignore
  deploy/1-deploy-oracles.ts
  deploy/11-deploy-sfrxeth-oracle.ts
  deploy/2-deploy-redstone-oracle.ts
  deploy/3-resilient-oracle-imp-update.ts
  deploy/5-deploy-bnb-lst-oracles.ts
  deploy/6-deploy-wstETH-oracle.ts
  deploy/7-deploy-pendle-oracle.ts
  deploy/8-deploy-weETH-oracle.ts
  deployments/zksyncsepolia.json
  deployments/zksyncsepolia/.chainId
  deployments/zksyncsepolia/BoundValidator.json
  deployments/zksyncsepolia/BoundValidator_Implementation.json
  deployments/zksyncsepolia/BoundValidator_Proxy.json
  deployments/zksyncsepolia/ChainlinkOracle.json
  deployments/zksyncsepolia/ChainlinkOracle_Implementation.json
  deployments/zksyncsepolia/ChainlinkOracle_Proxy.json
  deployments/zksyncsepolia/DefaultProxyAdmin.json
  deployments/zksyncsepolia/RedStoneOracle.json
  deployments/zksyncsepolia/RedStoneOracle_Implementation.json
  deployments/zksyncsepolia/RedStoneOracle_Proxy.json
  deployments/zksyncsepolia/ResilientOracle.json
  deployments/zksyncsepolia/ResilientOracle_Implementation.json
  deployments/zksyncsepolia/ResilientOracle_Proxy.json
  deployments/zksyncsepolia/solcInputs/7b38f0bb1e39a4d8519998be3af17083.json
  deployments/zksyncsepolia/solcInputs/cc1afdf11a23563c8dca92a85f47d6b1.json
  deployments/zksyncsepolia_addresses.json
  hardhat.config.ts
  hardhat.config.zksync.ts
  helpers/deploymentConfig.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: zkSync sepolia

#214 [VEN-2712] OneJumpOracle deployment script and files for wstETH and weETH on arbitrum sepolia
  deploy/13-deploy-wstETH-weETH-oracles.ts
  deployments/arbitrumsepolia.json
  deployments/arbitrumsepolia/solcInputs/c9234768a0e90787a3e044ab631ca909.json
  deployments/arbitrumsepolia/weETHOneJumpChainlinkOracle.json
  deployments/arbitrumsepolia/weETHOneJumpChainlinkOracle_Implementation.json
  deployments/arbitrumsepolia/weETHOneJumpChainlinkOracle_Proxy.json
  deployments/arbitrumsepolia/wstETHOneJumpChainlinkOracle.json
  deployments/arbitrumsepolia/wstETHOneJumpChainlinkOracle_Implementation.json
  deployments/arbitrumsepolia/wstETHOneJumpChainlinkOracle_Proxy.json
  deployments/arbitrumsepolia_addresses.json
  helpers/deploymentConfig.ts
Labels: arbitrum sepolia

#215 [VEN-2740]: oracles deployments on zksync
  .env.example
  .github/workflows/ci.yml
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/.chainId
  deployments/zksyncmainnet/BoundValidator.json
  deployments/zksyncmainnet/BoundValidator_Implementation.json
  deployments/zksyncmainnet/BoundValidator_Proxy.json
  deployments/zksyncmainnet/ChainlinkOracle.json
  deployments/zksyncmainnet/ChainlinkOracle_Implementation.json
  deployments/zksyncmainnet/ChainlinkOracle_Proxy.json
  deployments/zksyncmainnet/DefaultProxyAdmin.json
  deployments/zksyncmainnet/RedStoneOracle.json
  deployments/zksyncmainnet/RedStoneOracle_Implementation.json
  deployments/zksyncmainnet/RedStoneOracle_Proxy.json
  deployments/zksyncmainnet/ResilientOracle.json
  deployments/zksyncmainnet/ResilientOracle_Implementation.json
  deployments/zksyncmainnet/ResilientOracle_Proxy.json
  deployments/zksyncmainnet/solcInputs/d14112d82bb23a35dc687350b4e61e84.json
  deployments/zksyncmainnet_addresses.json
  hardhat.config.zksync.ts
  helpers/deploymentConfig.ts
  package.json
  yarn.lock
Labels: zkSync
